/* font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

:root{
  --dark-blue: #11101d
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: #161427;
}

.test{
  display: none !important;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 5px;
  gap: 10px;
  will-change: transform;
}

.social-icon{
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-icon:hover{
  transform: scale(1.2);
}

.social-icon:active{
  transform: scale(1.4);
}

.version-details{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  
}

.version-details span{
  padding: 1px 7px 1px 7px;
  /* border: 2px solid; */
  border-radius: 5px;
  fill: transparent;
  cursor: pointer;
  font-size: smaller;
  transition: all 0.2s ease;
  will-change: transform;
}

.version-details span:hover{
  transform: scale(1.05);
  color: #2af85d;
}

.version-details span:active{
  transition: all 0.1s ease;
  transform: scale(1.1);
  color: #7eff9c;
}

.panel{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: #1d1a35;
}

.panel .show {
  display: block;
}

.panel .logo-details {
  height: 60px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  z-index: 3;
  margin-bottom: 25px;
}

.panel .logo-image {
  width: 23%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  font-size: 30px;
  color: #fff;
  min-width: 20px;
  text-align: center;
  line-height: 10%;
  z-index: 3;
  transition: all 0.2s ease;
  will-change: transform;
}

.panel .logo-image:hover{
  transform: scale(1.1);
}

.panel .logo-image:active{
  transform: scale(1.2);
}

.panel .logo-name {
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  z-index: 3;
}

.panel .nav-links{
  /* background: maroon; */
  /***************** height: original - 390px (4 nodes)********************/
  height: auto;
  padding: 0 0 0px 0;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

.panel .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.panel .nav-links .node:hover{
  background: #4a467c;
  transform: scale(1.05);
}

.panel .nav-links .node:active{
  transition: all 0.04s ease;
  background: #66628d;
  transform: scale(1.08);
}

.panel .nav-links li .node{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s ease;
}

.panel .nav-links li i.central{
  height: 50px;
  min-width: 70px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.panel .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}

.panel .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.panel .nav-links li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.panel .nav-links li .sub-menu{
  padding: 6px 6px 6px 80px;
  /* margin-top: 10px; */
  background: #2d2a4e;
  display: none;
  cursor:default;
}

.panel .nav-links li.showMenu .sub-menu{
  display: block;
}

.panel .nav-links li .sub-menu a{
  position: relative;
  color: #fff;
  font-size: 15px;
  padding: 2.5px 0 2.5px 5px;
  white-space: nowrap;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: pointer;
}



.panel .nav-links li .sub-menu a span{
  cursor: pointer;
}

.panel .nav-links li .sub-menu a::after{
  display: none;
}


.panel .nav-links li .sub-menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw; /* Extend to the very left of the window */
  width: 100vw; /* Cover the width of the window */
  height: 100%;
  z-index: -1; /* Ensure it is behind the text */
  cursor: default;
  display: none;
}

/* .panel .nav-links li .sub-menu a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw; 
  width: 100vw; 
  height: 100%;
  z-index: -1; 
} */

.panel .nav-links li .sub-menu a{
  flex-grow: 1;
  padding-right: 20px;
  justify-content: space-between;
}

/* More specific selector for carleton-button */
.panel .nav-links li .sub-menu a .config-container{
  visibility: visible;
  font-size: 20px; /* Match the font size of the text */
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  opacity: 0.65;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  flex-shrink: 0; /* Prevent the icon from growing */
  will-change: transform;
  align-items: center;
}

/* More specific selector for carleton-button */
.panel .nav-links li .sub-menu a .config-btn{
  transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

/* More specific selector for carleton-button */
.panel .nav-links li .sub-menu a .config-btn:hover{
  transform: scale(1.25);
  color: #acc0fc;
  opacity: 1;
}

.panel .nav-links li .sub-menu a .config-btn:active {
  transform: scale(1.1);
}

.panel .nav-links li .sub-menu a .config-container span{
  font-size: 15px;
  align-items: center;
}

.panel .nav-links li .sub-menu a:not(:hover) .config-container {
  visibility: hidden; /* Hide the config-btn when the parent <a> is not hovered */
}

.panel .nav-links li .sub-menu a:hover{
  opacity: 1;
  background: linear-gradient(to right, #5e54b8, rgba(126, 117, 230, 0)); /* Add gradient on hover */
  transform: scale(1.05);
}

.panel .nav-links li .sub-menu a.force-active{
  transition: all 0.04s ease;
  background: linear-gradient(to right, #7e75e6, rgba(126, 117, 230, 0)); /* Add gradient on hover */
  transform: scale(1.02);
}

.panel.inactive .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.panel.inactive .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.panel .nav-links li .sub-menu .link-name{
  display: none;
}

.panel.inactive .nav-links li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
  display: block;
}

.panel .nav-links li .sub-menu.blank{
  opacity: 0;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
}

.panel .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.panel .profile-details{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2d2a4e;
  padding: 6px 0;
}

.panel .profile-details .profile-content{
  display: flex;
  align-items: center;
}

.panel .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #2d2a4e;
  padding: 7px;
}

.panel .profile-details .profile-name,
.panel .profile-details .profile-title{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.panel .profile-details .profile-title{
  font-size: 12px;
}

/* updates panel */

.hidden {
  display: none;
}

.whats-new {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d1a35;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  text-align: left;
}

.whats-new h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.whats-new ul {
  list-style: none;
  padding: 0;
}

.whats-new ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.dark-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  z-index: 999; /* Ensure it is behind the config-overlay */
}

.config-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #2d274a;
  color: #fff;
  border-radius: 10px;
  border-color: #858585;
  border-style: hidden;
  border-width: thin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px;
}

.config-header{
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 5px;
}

.close-btn{
  font-size: 24px; /* Match the font size of the text */
  opacity: 0.85;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  color: red;
}

/* More specific selector for carleton-button */
.close-btn:hover{
  transform: scale(1.25);
  opacity: 1;
}

.close-btn:active {
  transform: scale(1.1);
}

.config-content {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  justify-content: space-between; /* Distribute space between items */
  align-items: center;
  margin-top: 10px;
  gap: 10px; /* Add space between dropdowns */
}

.config-content select {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #2d2759;
  color: #fff;
}

.config-content select .school-select{
  min-width: 100px;
}

.config-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.config-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 10px;
}

.config-footer .config-reset-btn{
  background: transparent;
  color: #fff;
  width: 50px;
  border: none;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: default;
  transition: all 0.3s ease;
  min-height: min-content;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  font-size: 14px;
  justify-content: center; /* Center items horizontally */
}

.config-footer .config-reset-btn span{
  cursor: pointer;
  transition: all 0.3s ease;
}

.config-footer .config-reset-btn span:hover{
  transform: scale(1.1);
  color: rgb(255, 255, 110);
  text-decoration: underline;
  transition: all 0.1s ease;
}

.config-footer .config-reset-btn span:active{
  transform: scale(1.15);
  color: rgb(255, 255, 174);
  text-decoration: underline;
}

.config-footer .config-admin-btn{
  background: transparent;
  color: #fff;
  font-size: 14px;
  width: 50px;
  border: solid;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: min-content;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  visibility: hidden;
}

.config-footer .config-save-btn {
  padding: 8px 15px;
  height: min-content;
  background-color: #1d1f52;
  color: #fff;
  border: solid;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  font-size: 14px;
  justify-content: center; /* Center items horizontally */
}

.config-footer .config-save-btn:hover {
  background-color: #333181;
  transform: scale(1.1);
}

.config-footer .config-save-btn:active {
  background-color: #43408e;
  transition: all 0.1s ease;
  transform: scale(1.15);
}

.row-input{
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  align-items: center; 
  justify-content: center; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.more-timetable{
  margin-top: 0;
}

.banner-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #2d274a;
  color: #fff;
  border-radius: 10px;
  border-color: #858585;
  border-style: hidden;
  border-width: thin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  padding: 5px;
}

.banner-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1001; /* Ensure it is behind the config-overlay */
}

.banner-header{
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;
}

.banner-content {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;  
  align-items: center;
  /* gap: 10px; */
}

.highlight {
  color: rgb(233, 222, 3); 
}

.highlight2 {
  color: rgb(0, 214, 218); 
}

.underline{
  text-decoration: underline;
}

.interact{
  color: rgb(255, 187, 14);
  transition: all 0.2 ease;
  transition: color 0.06 ease;
}

.interact:hover{
  color: rgb(255, 156, 103);
  transform: scale(1.1);
}

.interact:hover{
  color: rgb(255, 193, 117);
  transform: scale(1.1);
}

.interact:active{
  color: rgb(255, 214, 148);
  transform: scale(1.05);
}

.info-btn{
  font-size: 24px; /* Adjust the icon size if needed */
  transition: all 0.2s ease;
}

.info-btn:hover{
  transform: scale(1.1);
  color: rgb(255, 217, 0);
}

.info-btn:active{
  color: rgb(255, 242, 167);
  transform: scale(1.2);
}

.info-btn-static{
  font-size: 1.4em; /* Adjust the icon size if needed */
  transition: all 0.3s ease;
}

.banner-title-div{
  display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 3px; /* Optional: Add space between the elements */
}

.banner-title{
  color: #fff;
}

.banner-title.warning{
  color: rgb(229, 0, 0);
}

.banner-title-collection{
  display: flex;
  gap: 5px;
}

.banner-content{
  font-size: 14px;
}

.banner-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 10px;
}

.banner-reset-btn{
  background: transparent;
  color: #fff;
  width: 50px;
  border: none;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: default;
  transition: all 0.3s ease;
  min-height: min-content;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  font-size: 14px;
  justify-content: center; /* Center items horizontally */
  visibility: hidden;
}

.banner-admin-btn{
  background: transparent;
  color: #fff;
  font-size: 14px;
  width: 50px;
  border: solid;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: min-content;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  visibility: hidden;
}

.banner-ok-btn {
  padding: 8px 15px;
  height: min-content;
  background-color: #1d1f52;
  color: #fff;
  border: solid;
  border-color: #c0c0c0;
  border-width: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center items vertically */
  font-size: 14px;
  justify-content: center; /* Center items horizontally */
}

.banner-ok-btn:hover {
  background-color: #333181;
  transform: scale(1.1);
}

.banner-ok-btn:active {
  background-color: #43408e;
  transition: all 0.1s ease;
  transform: scale(1.15);
}

.switch-container{
  width: 100%;
  height: 100%;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0 10px 0;
  gap: 10px;
}

.switch-container span{
  width: 62px;
}

.left-span{
  text-align: end;
}

.header-info {
  display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 3px; /* Optional: Add space between the elements */
}

.header-info h3 {
  margin: 0; /* Remove default margin */
}

.header-info i {
  /* padding-top: 0.05em; */
  font-size: 1.4em; /* Adjust the icon size if needed */
  transition: all 0.2s ease;
}

.header-info i:hover{
  transform: scale(1.1);
  color: rgb(255, 214, 30);
}

.header-info i:active{
  transition: all 0.1s ease;
  transform: scale(1.2);
  color: rgb(255, 241, 147);
}

.toggle-switch{
  background-color: #d2d2d2;
  width: 60px;
  height: 30px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.toggle-switch::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 200px;
  margin: 2px;
  transition: all 0.3s ease;
}

input:checked + .toggle-switch{
  background-color: #7045ff;
}

input:checked + .toggle-switch::before{
  transform: translateX(30px)
}

.switch-container input{
  display: none;
}

